# **Best Practices for Writing/Documenting code**
## **Introduction**
This coding assignment will get you used to writing code efficiently as well as documenting your code through various exercises such as efficient data cleaning and Pandas code, as well as designing reusable data workflows. Remember to document all code you write in this assignment, as that will be part of your grade as well. This assignment checks for following PEP 8 style guidelines, as well as appropriate docstrings. 

**NOTE**: copy all your answers to the cell below it to actually run it after checking for style

## **Setup**
The following code will import libraries that will be useful for this assignment.

In [1]:
!pip install pdpipe
!pip install flake8
import pandas as pd
import numpy as np
import zipfile
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import timeit
import pdpipe

%matplotlib inline

Requirement already satisfied: pdpipe in /usr/local/lib/python3.6/dist-packages (0.0.53)
Requirement already satisfied: skutil>=0.0.15 in /usr/local/lib/python3.6/dist-packages (from pdpipe) (0.0.16)
Requirement already satisfied: strct in /usr/local/lib/python3.6/dist-packages (from pdpipe) (0.0.32)
Requirement already satisfied: pandas>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from pdpipe) (1.1.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pdpipe) (4.41.1)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdpipe) (2.3.0)
Requirement already satisfied: decore in /usr/local/lib/python3.6/dist-packages (from skutil>=0.0.15->pdpipe) (0.0.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from skutil>=0.0.15->pdpipe) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.0->pdpipe) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18.0->pdpipe) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18.0->pdpipe) (1.15.0)
Requirement already satisfied: flake8 in /usr/local/lib/python3.6/dist-packages (3.8.4)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from flake8) (3.1.1)
Requirement already satisfied: pyflakes<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from flake8) (2.2.0)
Requirement already satisfied: mccabe<0.7.0,>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from flake8) (0.6.1)
Requirement already satisfied: pycodestyle<2.7.0,>=2.6.0a1 in /usr/local/lib/python3.6/dist-packages (from flake8) (2.6.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->flake8) (3.4.0)

In [2]:
!pip install pycodestyle pycodestyle_magic

Requirement already satisfied: pycodestyle in /usr/local/lib/python3.6/dist-packages (2.6.0)
Requirement already satisfied: pycodestyle_magic in /usr/local/lib/python3.6/dist-packages (0.5)

In [3]:
%load_ext pycodestyle_magic

## **Shortcuts**


Even if you are familiar with Jupyter, you are strongly encouraged to become proficient with keyboard shortcuts (this will save you time in the future). To learn about keyboard shortcuts, go to **Help --> Keyboard Shortcuts** in the menu above. 

Here are a few that we like:
1. `Ctrl` + `Return` : *Evaluate the current cell*
1. `Shift` + `Return`: *Evaluate the current cell and move to the next*
1. `ESC` : *command mode* (may need to press before using any of the commands below)
1. `a` : *create a cell above*
1. `b` : *create a cell below*
1. `dd` : *delete a cell*
1. `z` : *undo the last cell operation*
1. `m` : *convert a cell to markdown*
1. `y` : *convert a cell to code*

# **Importing Datasets**
The following code will import datasets used in this assignment.

In [4]:

url = 'https://raw.githubusercontent.com/vikashraja24/cs189projectTfinal/main/biostats.csv'
biostats = pd.read_csv(url)
#biostats = pd.read_csv('biostats.csv')


url = 'https://raw.githubusercontent.com/vikashraja24/cs189projectTfinal/main/BL-Flickr-Images-Book.csv'
books = pd.read_csv(url)
#books = pd.read_csv('BL-Flickr-Images-Book.csv')


url = 'https://raw.githubusercontent.com/vikashraja24/cs189projectTfinal/main/USA_Housing.csv'
housing = pd.read_csv(url)
#housing = pd.read_csv('USA_Housing.csv')
housing

      Avg. Area Income  ...                                            Address
0         79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1         79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2         61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3         63345.240046  ...                          USS Barnett\nFPO AP 44820
4         59982.197226  ...                         USNS Raymond\nFPO AE 09386
...                ...  ...                                                ...
4995      60567.944140  ...                   USNS Williams\nFPO AP 30153-7653
4996      78491.275435  ...              PSC 9258, Box 8489\nAPO AA 42991-3352
4997      63390.686886  ...  4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998      68001.331235  ...                          USS Wallace\nFPO AE 73316
4999      65510.581804  ...  37778 George Ridges Apt. 509\nEast Holly, NV 2...

[5000 rows x 7 columns]

##  **1. Warm Up**
In this question, you will complete some common functions and algorithms following PEP 8 guidelines and efficient documentation.

**a)** Complete the selection_sort function which performs selections sort on a given array. Please follow PEP 8 guidelines as well as NumPy/SciPy Docstrings guidelines.

In [5]:
def selection_sort(arr):
    # start code #
    
    # end code #

    return arr

In [6]:
#a = [2, 4, 1, 7, 6, 9]
#ans = selection_sort(a)
#assert ans == [1, 2, 4, 6, 7, 9]

**b)** Now add a google docstring format to the function above. Now with extra parameter reverse which is set to true if descending sorted array is needed.

In [7]:
def selection_sort2(arr, reverse):
    # start code #
    
    # end code #

    return arr

In [8]:
#a = [2, 4, 1, 7, 6, 9]
#ans = selection_sort2(a, False)
#assert ans == [1, 2, 4, 6, 7, 9]
#ans2 = selection_sort2(a, True)
#assert ans2 == [9, 7, 6, 4, 2, 1]

##  **2. Efficient Pandas**
In this question, you will do some exercises in writing Pandas code efficiently, and you will to learn to speed up code when filtering and modifying data.

First, load and examine the biostats dataset.

In [9]:
biostats

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

**a)** Part of writing good code means readablilty, and often times datasets have issues of bad column names. Please clean the biostats dataset to have column names [Name, Sex, Age, Height, Weight]. Be sure to document any helper functions or processes in your code.

In [10]:
%%pycodestyle
# start code #

# end code #

In [11]:
# start code #

# end code #

**b)** In this part, you will write two ways of finding the average height of people 30 or older. In this first cell, do not use any Pandas filtering or aggregation methods, and in the second cell, use Pandas method to get the same answer in one line.

In [12]:
%%pycodestyle
# start code #

# end code #

In [13]:
# start code #

# end code #

In [14]:
%%pycodestyle
# start code #

# end code #

In [15]:
# start code #

# end code #

**c)** Now please time the execution of both methods above to verify the effeciency of the second block.

Hint: check out the timeit library

In [16]:
%%pycodestyle
# start code #

# end code #

In [17]:
# start code #

# end code #

In [18]:
%%pycodestyle
# start code #

# end code #

In [19]:
# start code #

# end code #





##  **3. Pipelines**
In this question, you will do some exercises dealing with data pipelines with the housing data. When talking about the best practices of writing and documenting code in the machine learning context, efficient data pipelines allow for reusable data workflows. The true beauty in pipelines is that it automates repetitive tasks and speeds up the data cleaning. As a machine learning engineer, you may take be tasked to clean and filter multiple datasets. An efficient practice in this case is using pipelines. 

**Hint**: read notes about pdpipe library

First, load and examine the housing dataset.

In [20]:
housing

      Avg. Area Income  ...                                            Address
0         79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1         79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2         61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3         63345.240046  ...                          USS Barnett\nFPO AP 44820
4         59982.197226  ...                         USNS Raymond\nFPO AE 09386
...                ...  ...                                                ...
4995      60567.944140  ...                   USNS Williams\nFPO AP 30153-7653
4996      78491.275435  ...              PSC 9258, Box 8489\nAPO AA 42991-3352
4997      63390.686886  ...  4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998      68001.331235  ...                          USS Wallace\nFPO AE 73316
4999      65510.581804  ...  37778 George Ridges Apt. 509\nEast Holly, NV 2...

[5000 rows x 7 columns]

**a)** To start off, create a column called 'Price Range', which categorizes the prices in 3 ranges of low, medium, and high based on the intervals [0, 250000], [250000, 750000], [750000, inf]. Please use a helper function and follow proper style and naming conventions

In [21]:
%%pycodestyle
# start code #

def categorize_price(price):

    """categorize house prices into [low, medium, high] 

    Parameters
    ----------
    price : int
        price to be categorized

    Returns
    -------
    string
        The appropriate category for the price.
    """
    # TODO
    
# end code #

6:56: W291 trailing whitespace
19:1: W293 blank line contains whitespace

In [22]:
# start code #

def categorize_price(price):

    """categorize house prices into [low, medium, high] 

    Parameters
    ----------
    price : int
        price to be categorized

    Returns
    -------
    string
        The appropriate category for the price.
    """
    # TODO
    
# end code #

In [23]:
housing

      Avg. Area Income  ...                                            Address
0         79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1         79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2         61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3         63345.240046  ...                          USS Barnett\nFPO AP 44820
4         59982.197226  ...                         USNS Raymond\nFPO AE 09386
...                ...  ...                                                ...
4995      60567.944140  ...                   USNS Williams\nFPO AP 30153-7653
4996      78491.275435  ...              PSC 9258, Box 8489\nAPO AA 42991-3352
4997      63390.686886  ...  4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998      68001.331235  ...                          USS Wallace\nFPO AE 73316
4999      65510.581804  ...  37778 George Ridges Apt. 509\nEast Holly, NV 2...

[5000 rows x 7 columns]

**b)** Now, let's assume the Address is useless for the proposed machine learning model. Use a one stage pipeline to drop it.

In [24]:
%%pycodestyle
# start code #

# end code #

In [25]:
# start code #

# end code #

In [26]:
housing

      Avg. Area Income  ...                                            Address
0         79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1         79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2         61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3         63345.240046  ...                          USS Barnett\nFPO AP 44820
4         59982.197226  ...                         USNS Raymond\nFPO AE 09386
...                ...  ...                                                ...
4995      60567.944140  ...                   USNS Williams\nFPO AP 30153-7653
4996      78491.275435  ...              PSC 9258, Box 8489\nAPO AA 42991-3352
4997      63390.686886  ...  4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998      68001.331235  ...                          USS Wallace\nFPO AE 73316
4999      65510.581804  ...  37778 George Ridges Apt. 509\nEast Holly, NV 2...

[5000 rows x 7 columns]

**c)** Now, lets take advantage of the true power of pipelines. Let's say the requirement for data cleaning are to drop the number of bedrooms column, drop the area population column, and then use one-hot-encoding on the price range column. Use one pipeline to make these changes.

In [27]:
%%pycodestyle
# start code #

# end code #

In [28]:
# start code #

# end code #

In [29]:
housing

      Avg. Area Income  ...                                            Address
0         79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1         79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2         61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3         63345.240046  ...                          USS Barnett\nFPO AP 44820
4         59982.197226  ...                         USNS Raymond\nFPO AE 09386
...                ...  ...                                                ...
4995      60567.944140  ...                   USNS Williams\nFPO AP 30153-7653
4996      78491.275435  ...              PSC 9258, Box 8489\nAPO AA 42991-3352
4997      63390.686886  ...  4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998      68001.331235  ...                          USS Wallace\nFPO AE 73316
4999      65510.581804  ...  37778 George Ridges Apt. 509\nEast Holly, NV 2...

[5000 rows x 7 columns]

Now, you should be able to see how these small modules of pipelines can be similar across datasets for cleaning specifications and how this practice can be lead very efficient, readable, and reusable code.

##  **4. Efficient Practices to Visualize Code**
 Now you will take a look at efficient pracitces for graphing, inlcuding documenting, labeling, and scaling graphs based on the results needed.

**a)** Let's examine the relationship between the average income and the price of a house in the housing data. Use a scatter plot to plot price vs income for the first 100 entries in the data.

In [30]:
%%pycodestyle
# start code #

# end code #

In [31]:
# start code #

# end code #

**b)** Now, looking at the correlation, you may see that the scales make it hard to recognize the details of the correlation. Include an appropriate scaled axis to make the correlation more aligned to the unity line.

In [32]:
%%pycodestyle
# start code #

# end code #

In [33]:
# start code #

# end code #

**c)** Now, using appropiate practices of documentation and labeling, include labels for axes and title for the plot taking into account the scaling you did in part b.

In [34]:
%%pycodestyle
# start code #

# end code #

In [35]:
# start code #

# end code #

##  **5. Cleaning Data Efficiently with Documentation**
In this problem, you will walk through cleaning a messy dataset, incorporating the efficient pracitices of writing and documenting code that you have learned so far. For documentation purposes, keep a dictionary of keys removed and modified that keeps tracks of all processes done on the dataset throughout the cleaning process. Use appropriate comments on all functions.

First, load and examine the books dataset.

In [36]:
cleaning_updates = {'remove': [], 'modify': []}
books

      Identifier  ...                                         Shelfmarks
0            206  ...                  British Library HMNTS 12641.b.30.
1            216  ...                  British Library HMNTS 12626.cc.2.
2            218  ...                  British Library HMNTS 12625.dd.1.
3            472  ...                British Library HMNTS 10369.bbb.15.
4            480  ...                   British Library HMNTS 9007.d.28.
...          ...  ...                                                ...
8282     4158088  ...  British Library HMNTS|British Library HMNTS 10...
8283     4158128  ...  British Library HMNTS|British Library HMNTS 10...
8284     4159563  ...  British Library HMNTS|British Library HMNTS 19...
8285     4159587  ...  British Library HMNTS|British Library HMNTS 10...
8286     4160339  ...  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

**a)** First find and print all columns that contain any sort of empty values. However, if Author has empty values, replace those with the empty string. Update the cleaning_updates.

In [37]:
%%pycodestyle
# start code #

# end code #

In [38]:
# start code #

# end code #

**b)** Now, drop all the columns that need to be removed, due to not having complete data.

In [39]:
%%pycodestyle
# start code #

# end code #

In [40]:
# start code #

# end code #

In [41]:
books

      Identifier  ...                                         Shelfmarks
0            206  ...                  British Library HMNTS 12641.b.30.
1            216  ...                  British Library HMNTS 12626.cc.2.
2            218  ...                  British Library HMNTS 12625.dd.1.
3            472  ...                British Library HMNTS 10369.bbb.15.
4            480  ...                   British Library HMNTS 9007.d.28.
...          ...  ...                                                ...
8282     4158088  ...  British Library HMNTS|British Library HMNTS 10...
8283     4158128  ...  British Library HMNTS|British Library HMNTS 10...
8284     4159563  ...  British Library HMNTS|British Library HMNTS 19...
8285     4159587  ...  British Library HMNTS|British Library HMNTS 10...
8286     4160339  ...  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

**c)** Remove the unnecessary brackets in the title names efficiently. Remember to practice good documentation and use of helper methods for readable and reproducible code.

In [42]:
%%pycodestyle
# start code #

# removes unncessary brackets in title names
def clean_title(title):

    """cleans titles

    Parameters
    ----------
    title : string
        given title to be cleaned

    Returns
    -------
    string
        The cleaned title name
    """

# end code #

In [43]:
# start code #

# removes unncessary brackets in title names
def clean_title(title):

    """cleans titles

    Parameters
    ----------
    title : string
        given title to be cleaned

    Returns
    -------
    string
        The cleaned title name
    """

# end code #

In [44]:
cleaning_updates

{'modify': [], 'remove': []}

Going through the cleaning process with reusable blocks of code as well as documenting any changes to the intial data set is a good practice of documentation in the data cleaning context.

##  **Learning Objectives**
After performing this assignment, student should develop improved documentation and code writing skills in the context of machine learning. Students were told to follow PEP 8 guidelines in every line of code they wrote. They developed simple and efficient ways to clean and filter data, learned a way to make a simple reusable data pipeline, and throughout the process, were asked to follow the best practices of documentation including adding comments and using helper functions when needed to make code simple, readable, and reproducible.